.d{
    text-align: center;
    color: #00FFFF;
    text-shadow: 17px 6px 8px rgba(0, 0, 0, 1);
}
.o{
    text-align: center;
    color: #00FFFF;
    text-shadow: 17px 6px 8px rgba(0, 0, 0, 1);
}